.input-field {
    width: 60%;
}

.transitionTbl {
    width: 70%;
}

.outputTable th {
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding: 8px;
}

.outputTable td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

.tableTitle {
    font-weight: bold;
}

ul li {
    margin: 8px;
}
